/artifacts/
/bin/
/.gocache/
/.gomodcache/
/level1/artifacts/
/level1/bin/
/level1/.gocache/
/level1/.gomodcache/
/level2/artifacts/
/level2/bin/
/level2/logs/
/level2/.gocache/
/level2/.gomodcache/
/level3/artifacts/
/level3/bin/
/level3/logs/
/level3/.gocache/
/level3/.gomodcache/
/level4/artifacts/
/level4/bin/
/level4/logs/
/level4/.gocache/
/level4/.gomodcache/
/level5/artifacts/
/level5/bin/
/level5/logs/
/level5/.gocache/
/level5/.gomodcache/
/level6/artifacts/
/level6/bin/
/level6/logs/
/level6/.gocache/
/level6/.gomodcache/
/level7/artifacts/
/level7/bin/
/level7/logs/
/level7/.gocache/
/level7/.gomodcache/
/*.pdf
