/artifacts/
/bin/
/.gocache/
/.gomodcache/
/level1/artifacts/
/level1/bin/
/level1/.gocache/
/level1/.gomodcache/
/level2/artifacts/
/level2/bin/
/level2/logs/
/level2/.gocache/
/level2/.gomodcache/
/level3/artifacts/
/level3/bin/
/level3/logs/
/level3/.gocache/
/level3/.gomodcache/
/level4/artifacts/
/level4/bin/
/level4/logs/
/level4/.gocache/
/level4/.gomodcache/
/*.pdf
